.custom-bg {
  background-image: url("https://images.pexels.com/photos/355853/pexels-photo-355853.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  position: relative;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}
